*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

nav{
  height: 60px;
  padding: 3px 20px;
  border-bottom: 1px solid white;
 display: flex;
 align-items: center;
}

.container{
  width: 80%;
  margin: 1rem auto;
}

.flex{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
}

.card{
  max-width: 300px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  padding: 5px;
  border: 0.5px solid white;
}

.card img{
  width: 100%;
}

.card p{
  margin-bottom: 5px;
}

.details{
  color: white;
}

.details p{
  margin-block: 20px;
  max-width: 70%;
}

.details h1{
  margin-block: 20px;
}

.card .last{
  margin-bottom: 0;
  align-self: self-end;
}


@media screen and (max-width:600px){


  .flex{
    grid-template-columns: repeat(2,50%);
  }
  .card p{
    font-size: 8px;
  }
  .details h1{
    font-size: 18px;
  }

  .details p{
    font-size: 12px;
  }
}